<div id="LeftPanel">
  <!-- List of Teams	-->
  <div class="col-xs-12 col-md-12">
    <div
      class="panel panel-default"
      class="list-group-item"
      ng-class="{true: 'team-handle', false: 'break-handle' }[['Lunch', 'Dinner'].indexOf(team.displayName) == -1]"
      ui-draggable="true"
      drag="team"
      ng-repeat="team in teams track by $index">
      <div class="panel-body">
        {{team.displayName}}
      </div>
    </div>
  </div>
</div>

<div id="RightPanel">

  <!-- Filter -->
  <div id="FilterMenu" class="padding-bottom">
    <div class="col-xs-9">
      <select ng-model="predicate" ng-options="mentor.label for mentor in mentorFilter" class="form-control">
        <option value="">All</option>

      </select>
    </div>
    <div class="fcol-xs-3">
      <button type="submit" class="btn btn-primary" create-mentor>Create Mentor</button>
    </div>
  </div>

  <!-- Mentor -->
  <div ng-repeat="mentor in mentors | filter:predicate.type" teams="teams"
       mentor-profile="mentor" ng-class-odd="'altMentorBackground'">

  </div>
</div>
