<div id="LeftPanel" data-ng-if="isAuthenticated">
  <div id="TeamOptions" class="row">
    <div class="btn btn-success" create-team style="margin: 20px 0 30px 28%">Create Team</div>
  </div>
  <!-- List of Teams	-->
  <div class="col-xs-12 col-md-12">
    <div
      class="panel panel-default"
      class="list-group-item"
      ng-class="{true: 'team-handle', false: 'break-handle' }[['Lunch', 'Dinner'].indexOf(team.displayName) == -1]"
      ui-draggable="true"
      drag="team"
      ng-repeat="team in teams track by $index">
      <div class="panel-body">
        {{team.displayName}}
      </div>
    </div>
  </div>
</div>

<div id="RightPanel">
  <!-- Filter -->
  <div id="FilterMenu" class="padding-bottom">
    <div data-ng-class="{'col-xs-9':isAuthenticated,'col-xs-12':!isAuthenticated}">
      <select ng-model="predicate" ng-options="mentor.label for mentor in mentorFilter" class="form-control hidden-xs">
        <option value="">All</option>
        <option value="">  <input type="text" class="form-control" placeholder="Or Search For Key Phrases"
                                  ng-model="searchByName"/>  </option>
      </select>
      <div class="btn-group visible-xs">
        <button class="btn btn-default" data-ng-class="{'btn-info': predicate==''}" data-ng-click="resetMentorPredicate(mentor)">All</button>
        <button data-ng-repeat="mentor in mentorFilter" class="btn btn-default" data-ng-class="{'btn-info': predicate==mentor}" data-ng-bind="mentor.label" data-ng-click="setMentorPredicate(mentor)"></button>
      </div>
    </div>
    <div class="fcol-xs-3" data-ng-if="isAuthenticated">
      <button type="submit" class="btn btn-primary" create-mentor>Create Mentor</button>
    </div>
  </div>

  <!-- Mentor -->
  <div ng-repeat="mentor in mentors | filter:predicate.type | orderBy:'name' | filter:searchByName" teams="teams" mentor-schedule="mentor" ng-class-odd="">

  </div>
</div>
