// Core variables and mixins
@import "variables.less";
@import "bootstrap/bootstrap.less";
@import "mentorProfile.less";
@import "create-mentor.less";
@import "team-modal";

div{
  overflow: auto;
}


// Drag And Drop
.team-handle {
	color: #fff;
  background-color: #F7AB97;
}
.break-handle {
	color: #fff;
	background-color: #8DBAF7;
}
.on-drag-enter{
  background-color: #FCF8E3;
}

.padding-bottom {
	margin-bottom: 20px !important;
}

.time-slots {
	.list-group;

	.slot {
		.list-group-item;
		line-height: 2.5;	
		border-radius: 0px !important;
		padding: 0;

		.time { 
			display: inline-block;
			background-color: #F2F2F2; 
			padding: 10px 15px;
			width: 25%;
			text-align: center;
		}
		.team {
			width: 75%;
			text-align: center;
			display: inline-block;
			padding: 10px 15px;
			color: #fff;
			font-weight: bolder;
			&.taken {
				background-color: #F7AB97;
			}
			&.break {
				background-color: #8DBAF7;
			}
		}
	}
}

.container{
  padding-left: 300px;
  transition: all 0.4s ease 0s;
  margin: 0;
  @media (min-width: 1200px){
    width:100%;
    padding-right:0;
  }
}
.container.expanded{
  padding-left: 0;
}

.altMentorBackground{
  background-color: #c1f18c;
}

.mentor{

  .schedule{

  }
}

#LeftPanel{
	margin-left: -300px;
	left: 300px;
	width: 300px;
	border-right: 1px solid #ddd;
	padding: 0 2rem;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
}
#RightPanel{
width: 100%;
}

.xyz{display: block;}
