// Core variables and mixins
@import "variables.less";
@import "bootstrap/bootstrap.less";
@import "mentorProfile.less";
@import "create-mentor.less";
@import "create-team-sidebar.less";
@import "team-modal";
@import "schedule.less";
@import "flexboxLibrary";

div{
  overflow: auto;
}


// Drag And Drop
.team-handle {
	color: #fff;
  background-color: #F7AB97;
}
.break-handle {
	color: #fff;
	background-color: #8DBAF7;
}
.on-drag-enter{
  background-color: #FCF8E3;
}

.padding-bottom {
	margin-bottom: 20px !important;
}

.schedule{
  height: 585px;
}

.time-slots {
  overflow: scroll;



  .flex-display();
  .flex-direction(column);

  .slot{
    .flex-display();
    .flex-direction(row);
    .flex-grow(1);

    height: 35px;
    .time{
      width: 20%;
      .flex-display();
      .justify-content(center);
      .align-items(center);
    }
    .team{
      width: 80%;
      .flex-display();
      .justify-content(center);
      .align-items(center);
      font-weight: bolder;
      color: #fff;
      &.taken {
        background-color: #F7AB97;
      }
      &.break {
        background-color: #8DBAF7;
      }
      &.free {
        background-color: #5cb85c;
      }
    }
  }

}

.container{
  padding-left: 300px;
  transition: all 0.4s ease 0s;
  margin: 0;
  @media (min-width: 1200px){
    width:100%;
    padding-right:0;
  }
}
.container.expanded{
  padding-left: 0;
}

.altMentorBackground{
  background-color: #c1f18c;
}

.mentor{

  .schedule{

  }
}

#LeftPanel{
	margin-left: -300px;
	left: 300px;
	width: 300px;
	border-right: 1px solid #ddd;
	padding: 0 2rem;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
}
#RightPanel{
width: 100%;
}

.centeredHeader{
  text-align: center;
}

.teamBlocks{
  height: 50px;
}
