.mentor{
	padding-top: 15px;
	h3{
		font-family: 'Roboto Condensed', 'sans-serif';
	}
	ol{
		float: left;
		padding-left: 20px;
	}
	.thumbnail{
		padding: 2rem;
	}
	.img-circle{
		border: 2px solid #333;
	}
	.mentor-icon{
		width: 20%;
		float: left;
		display: block;
	}
	.caption{
		display:block;
		padding: 1rem;
	}
	.skillset {
		padding: 0 0 2rem 0;
	}
	.edit{
		display: block;
		text-align: center;

		.btn {
		width: 50%;
		}
	}

}