<div class="mentor">
  <div class="profile col-md-8">

    <h1>{{mentor.name}}</h1>

    <h1>{{mentor.role}}</h1>

    <h1>{{mentor.email}}</h1>

  </div>
  <div class="schedule col-md-4">
    <div class="col-xs-12 col-md-12">

      <div class="time-slots">
        <div
          class="slot"
          ng-repeat="slot in bookings track by $index"
          ui-on-Drop="onDrop($event, $index, $data)">
          <div class="time">
            {{time($index)}}
          </div>
          <!--
                       -->
          <div class="team"
               ng-class="taken(slot)">
            {{slot}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
