<div class="mentor">
  <div class="col-md-6">

      <section class="profile">
        <div class="thumbnail">
          <img ng-src="{{mentor.photo}}" alt="Profile Image" class="profile-image">
          <div class="caption">
            <h3>{{mentor.name}}</h3>
            <p>{{mentor.bio}}</p>
          </div>
          <div class="row skillset">
            <div class="col-md-6"><img ng-src="client/img/{{mentor.role}}.svg" class="mentor-icon"></div>
            <div class="col-md-6" ng-show="mentor.skills.length > 0 && mentor.skills[0] != ''">
            <h4>Specialty Skillset</h4>
            <ol>
              <li ng-repeat="skill in mentor.skills">{{skill}}</li>
            </ol>
          </div>
          </div>
          <div class="edit btn-group">
          <button type="button" class="btn btn-primary" role="button" create-mentor="" edit="mentor">Edit</button>
          <button type="button" class="btn visible-xs visible-sm" role="button" data-ng-class="{'btn-success': mentor.ui.scheduleShown}" data-ng-click="toggleScheduleShown()">Schedule</button>
        </div>
          </div>
      </section>
  </div>
  <div class="schedule col-md-6" data-ng-show="true">

      <div class="time-slots">
        <div class="slot"
          ng-repeat="slot in schedule.slots track by $index"
          ui-on-Drop="onDrop($event, $index, $data)">
          <div class="time">{{ slot.label }}</div><div class="team" ng-class="taken(slot)">{{ slot.team.displayName }}</div>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn visible-xs visible-sm" role="button" data-ng-class="{'btn-success': mentor.ui.scheduleShown}" data-ng-click="toggleScheduleShown()">Schedule</button>
      </div>
  </div>
</div>
