<div id="LeftPanel">
  <!-- List of Teams	-->
  <div class="col-xs-12 col-md-12">
    <div
      class="panel panel-default"
      class="list-group-item"
      ng-class="{true: 'team-handle', false: 'break-handle' }[['Lunch', 'Dinner'].indexOf(team.displayName) == -1]"
      ui-draggable="true"
      drag="team"
      ng-repeat="team in teams track by $index">
      <div class="panel-body">
        {{team.displayName}}
      </div>
    </div>
  </div>
</div>

<div id="RightPanel">

  <!-- Filter -->
  <div id="FilterMenu" class="padding-bottom">
    <div class="col-xs-9">
      <select ng-model="predicate" ng-options="mentor.label for mentor in mentorFilter" class="form-control">
        <option value="">All</option>

      </select>
    </div>
    <div class="fcol-xs-3">
      <button type="submit" class="btn btn-primary">Create Mentor</button>
    </div>
  </div>

  <!-- Mentor -->
  <div ng-repeat="mentor in mentors | filter:predicate.type" mentor-profile="mentor" ng-class-odd="'altMentorBackground'">
    <div class="col-xs-12 col-md-12">

        <div class="time-slots">
          <div
            class="slot"
            ng-repeat="slot in bookings track by $index"
            ui-on-Drop="onDrop($event, $index, $data)">
            <div class="time">
              {{time($index)}}
            </div>
            <!--
                         -->
            <div class="team"
                 ng-class="taken(slot)">
              {{slot}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
